<!DOCTYPE html>
<html>
<head>
  <title>GrumblrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <img src="https://camo.githubusercontent.com/613bc7eb2a28483a252a45946af877f7034a919d/687474703a2f2f692e696d6775722e636f6d2f554a38747232412e6a7067">
  </header>

  <div id='grumble-form'></div>
  <div id='grumble-list'>
    <span class='add'>Add Grumble</span>
  </div>

  <script type="text/x-handlebars-template" id="grumble-template">
    <div id={{id}}>
      <img src="{{avatar}}" alt="">
      <h5>{{title}} | {{author}}</h5>
      <p>{{content}}</p>
      <span class='destroy'>Delete</span>
      <span class='edit'>Edit</span>
    </div>
  </script>

  <script type="text/x-handlebars-template" id="grumble-form-template">
    <div class='grumble-form-div'>
      <input type="text" name="title" placeholder="title" value="{{title}}">
      <input type="text" name="content" placeholder="content" value="{{content}}">
      <input type="text" name="author" placeholder="author" value="{{author}}">
      <input type="text" name="avatar" placeholder="avatar" value="{{avatar}}">
      {{#if this}}
      <span class='edit-grumble'>EDIT GRUMBLE</span>
      {{else}}
      <span class='new-grumble'>NEW GRUMBLE</span>
      {{/if}}
      <span class='cancel'><-> [X]</span>
    </div>
  </script>

  <script>
    App = {
      Models: {},
      Views: {},
      Collections: {},
      TempData: {}
    };

    // Instantiate grumbles collection. Does NOT fetch yet.
    App.TempData.grumbles = <%= @grumbles.to_json.html_safe %>;
  </script>

  <%= javascript_include_tag 'application' %>

</body>
</html>